.selectDateDoctorContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.registrationCurrentDate {
  font-size: 24px;
  letter-spacing: -0.15px;
  font-weight: 500;
  margin: 15px 0px;
  width: 140px;
}

.registrationDateInput {
  display: flex;
  align-items: center;
}

.registrationTable table {
  text-align: center;
  vertical-align: middle;
}

.registrationTable table td {
  vertical-align: middle;
}

.registrationPENDING {
  color: #4da1ff;
}

.registrationIN_PROGRESS {
  color: #26bc97;
}

.registrationFINISHED {
  color: #828991;
}

.registrationTr:hover {
  background: rgba(77, 161, 255, 0.1);
}

.DayPickerInput input {
  text-align: center;
  width: 120px;
  border: none;
  outline: none;
}

.triangleLeft {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 13.9px 8px 0;
  border-color: transparent #000000 transparent transparent;
}

.triangleRight {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 0 8px 13.9px;
  border-color: transparent transparent transparent #000000;
}
