/* ==========================================================================
Survey page styles
========================================================================== */

.btn-dentall {
  background-color: #00a3e1;
  border-radius: 5px;
  border: none;
}

.btn-dentall:active {
  background-color: #008bc0;
}

.btn-dentall:hover,
.btn-dentall:focus {
  background-color: #48bde9;
}

.sv_main .sv_custom_header {
  height: 0 !important;
}
