:root {
  --transition-time: 500ms;
  --transition-delay-time: 0ms;
}

.page {
  left: 15px;
  right: 15px;
}

.item-enter {
  height: 0;
  transform: translateY(100vh);
}

.item-enter-active {
  transform: translateY(0);
  transition: all var(--transition-time) ease;
}

.item-reverse-enter {
  height: 0;
  transform: translateY(-100vh);
}

.item-reverse-enter-active {
  transform: translateY(0);
  transition: all var(--transition-time) ease;
}

.item-exit {
  position: absolute;
  width: 100%;
  transform: translateY(0);
}

.item-exit-active {
  transform: translateY(-100vh);
  transition: all var(--transition-time) ease;
  transition-delay: var(--transition-delay-time);
}

.item-reverse-exit {
  position: absolute;
  width: 100%;
  transform: translateY(0);
}

.item-reverse-exit-active {
  transform: translateY(100vh);
  transition: all var(--transition-time) ease;
  transition-delay: var(--transition-delay-time);
}

.errorMessage {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, -4px, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 4px, 0);
  }
}
