:root {
  --transition-time: 500ms;
  --transition-delay-time: 200ms;
}

.page {
  left: 15px;
  right: 15px;
}

.item-enter {
  height: 0;
  transform: translateY(100vh);
}

.item-enter-active {
  transform: translateY(0);
  transition: all var(--transition-time) ease;
}

.item-reverse-enter {
  height: 0;
  transform: translateY(-100vh);
}

.item-reverse-enter-active {
  transform: translateY(0);
  transition: all var(--transition-time) ease;
}

.item-exit {
  transform: translateY(0);
}

.item-exit-active {
  transform: translateY(-100vh);
  transition: all var(--transition-time) ease;
  transition-delay: var(--transition-delay-time);
}

.item-reverse-exit {
  transform: translateY(0);
}

.item-reverse-exit-active {
  transform: translateY(100vh);
  transition: all var(--transition-time) ease;
  transition-delay: var(--transition-delay-time);
}
