body {
  margin: 0;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, pingfang-tc, aktiv-grotesk, source-han-sans-traditional,
    Segoe UI, Roboto, Helvetica Neue, Microsoft JhengHei, Microsoft YaHei, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  box-sizing: border-box;
}

/* since popover is same level as #root in body */
.ant-message {
  top: 80px !important;
  right: 100px !important;
  left: unset !important;
  width: unset !important;
  max-width: 300px;
}
/* if there are more than one message, this is container. */
.ant-message > span {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.ant-message-custom-content {
  display: flex;
}

.ant-message-custom-content span {
  text-align: left;
}

.ant-input:hover,
.ant-input:focus {
  border-color: #3362ff !important;
}
