{
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "rules": {
    "no-unused-vars": ["error", { "vars": "all", "args": "after-used", "ignoreRestSiblings": false }],
    "react/prop-types": "off",
    "no-case-declarations": "off",
    "react/display-name": "off",
    "semi": ["error", "always"],
    "no-constant-condition": "off",
    "no-var": "error",
    "prefer-const": "error",
    "react-hooks/rules-of-hooks": "error"
  },
  "parser": "babel-eslint",
  "plugins": ["babel", "import", "jsx-a11y", "react", "prettier", "react-hooks"],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": { "react": { "version": "^16.12.0" } },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  }
}
